@media screen and (max-width: 991px) {

    .intro-div{
      background-color: rgb(33,34,38) ;
      background-image: none;
    }
  
    .intro-container{
      background: none;
      backdrop-filter: none;
    -webkit-backdrop-filter: none; 
    }  
  
    #logo {
      font-size: 30px;
    }
  
    .greeting-div h1{
      font-size: 45px;
    }
   
    #name{
      color: lightsalmon;
      text-shadow: 1px 1px white;
    }
  
    .nav-toggle {
      display: block;
      margin-right: 20px;
    }
  
    .navright {
      width: 100%;
      height: 300px;
      flex-direction: column;
      position: absolute;
      background-color: #31374A;
      padding-block: 30px;
      left: -100%;
      top: 100%;
      transition: 0.4s ease-in-out;
    }
  
    .navright.active {
      left: 0;
    }
  
    .image-div {
      height: 400px;
    }
  
    .greeting-div {
      height: 400px;
    }
  
    #greetin-child {
      padding-top: 0;
      padding-bottom: 60px;
    }
  
    .logo-div img {
      width: 40px;
    }
  
    /* achievement section css */
  
    .achive-post-container {
      width: 80vw;
      height: 80vw;
    }
  
    .achive-div {
      width: 30vw;
    }
  
    .gdsc_mail {
      top: 3vw;
      left: 5vw;
    }
  
    .trivia-mail {
      top: 5vw;
      left: 50vw;
    }
  
    .facilitator {
      width: 45vw;
      top: 53vw;
      left: 40vw;
    }
  
    .moreficent-aapathon {
      top: 35vw;
    }
  
    .republic-hackathon {
      width: 35vw;
      top: 20vw;
      left: 25vw;
    }
  
    .achive-div{
      box-shadow: rgb(22 22 22 / 10%) -0.5em 0em 1.2em;
    }
  
  
    /*         project work       */
    .project-img {
      width: 150px;
      transition: all 0.8s;
    }
  
    .project-img:hover {
      transform: perspective(1000px) rotateX(10deg) translate3d(10px, 5px, 80px);
    }
  
    .project-left {
      gap: 20px;
    }
  
    .project-detail p {
      width: 180px;
      font-size: 14px;
    }
  
    .more-btn {
      padding: 1.200rem 2.200rem 1.200rem 2.200rem;
    }
  
    /*   spark ar */
    .ar-outer{
      gap: 40px;
    }
    .ar-mocup{
      width: 250px;
    }
  
  
  
    /* goodies and swags media queries */
  
          /* swags images */
  
  .reskill-swag{
    width: 19vw;
    top: 38vw;
    left: 12vw;
  }
  
  .cnc-swag{
      width: 15vw;
      top: 5vw;
      left: 10vw;
  }
  
  .hack-black{
      width: 15vw;
      top: 0vw;
      left: 27vw;
  }
  
  .hack-white{
      width: 14vw;
      top: 0vw;
      left: 77vw;
  }
    
  .arcade-swag{
    width: 17vw;
    top: 17vw;
    left: 75vw
  }
  
  .flutter-swag{
    width: 15vw;
    top: 0vw;
    left: 60vw;
  }
  
  .topgeeks-swag{
    width: 16vw;
    top: 37vw;
    left: 48vw;
  }
    
  .trivia10{
    width: 19vw;
    top: 30vw;
    left: 68vw;
  }
    
  .gccp-swag{
    width: 17vw;
    top: 25vw;
    left: 22vw;
  }
  
  .zeeve-swag{
    width: 15vw;
    top: 20vw;
    left: 2vw;
  }
  
  .compose-camp{
      width: 23vw;
      top: 15vw;
      left: 40vw;
  }
  
  
  
  
    .time-skill-media {
      font-size: 1em;
      align-items: center;
      
    }
    .contact-container .section-heading{
      text-align: center;
    }
    .socials-icon img {
      width: 25px;
      display: none;
      justify-content: space-around;

    }
  
  
    .footer-container p {
      font-size: 12px;
      text-align: center;
    }
    .contact-socials-alter{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  
  }